<div class="container-fluid">
  <div class="jumbotron text-center">
    <app-loader [isLoading]="isLoading"></app-loader>
    <div class="container">
      <label for="lang">Enter Language</label>
      <input [(ngModel)]="lang"  id="lang" type="text" class="form-control"> <br>
      <button class="btn btn-primary" (click)="getHelloWorld()">Print</button>
      <h3>Result:</h3>
      <div>
        {{result}}
      </div>
    </div>
    <!-- <q [hidden]="isLoading">Your Device: {{ device }}</q
    ><br />
    <q [hidden]="isLoading">Your IP: {{ ip }}</q> -->
  </div>
</div>
